.departures-list {
  $radius: 0.5rem;

  &__row {
    display: flex;
    background-color: white;
    border-bottom: 1px solid $darkBlue;
    color: black;
    padding: 0.25rem;

    &--header {
      background-color: $blue;
      color: $darkBlue;
      text-transform: uppercase;
      font-weight: bold;
    }

    &:first-child {
      border-radius: $radius $radius 0 0;
    }
    
    &:last-child {
      border-bottom: 0.5rem solid $blue;
      border-radius: 0 0 $radius $radius;
    }
  }

  &__row-data {
    flex: 1;

    &--line {
      flex: 0.5;
      color: $darkBlue;
      font-weight: bold;
      text-align: right;
    }

    &--direction {
      flex: 2;
      margin-left: 1rem;
    }
  }
}