<div class="departures">
    <div class="departures__header">
      <div class="departures__nearest">
        Najbliższe odjazdy:
      </div>
      <div class="departures__stop-name">
        Kwiatkowskiego 01
      </div>
    </div>

    <div class="departures-table">
      <deparutres-table-row header="true"></deparutres-table-row>
      {{#each departures}}
        <deparutres-table-row 
          line="{{this.line_name}}"
          direction="{{lookup ../directions this.direction_id}}"
          at-stop="{{this.at_stop}}"
          departure="{{this.time}}"
          estimated="{{this.is_estimated}}"></deparutres-table-row>
      {{/each}}
    </div>
  </div>